<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Translation</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.text %></td>
        <td><%= card.translation %></td>
        <td class="actions">
          <%= link_to 'Show', panel_card_path(card.id, panel_id: params[:id]) %>
          <%= link_to 'Edit', edit_panel_card_path(card.id, panel_id: params[:id]) %>
          <%= link_to 'Destroy', panel_card_path(card.id, panel_id: params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
