<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @card.text %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @card.translation %>
</p>

<%= link_to 'Edit', edit_panel_card_path(@card, panel_id: params[:panel_id]) %> |
<%= link_to 'Back', panel_cards_path %>
